---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@/components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@/components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@/components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@/components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@/components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@/components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@/components/sections/FAQ.astro";
import heroImage from "@/images/projet_de creation-site-web.jpg";
import faqs from "@/data_files/faqs.json";
import features from "@/data_files/features.json";
import featureImage from "@/images/reunion-strategie.jpg";
import construction from "@/images/construction-image.avif";
import web from "@/images/web-design.jpg";
import dev from "@/images/dev.jpg";
import seo from "@/images/seo.jpg";
import strategie from "@/images/strat.jpg";
import support from "@/images/support.jpg";
---

<MainLayout>
  <HeroSection
    title=`Donnez vie à vos projets numériques avec le <span
        class="text-yellow-500 dark:text-yellow-400">Studio Web Crafters</span>`
    subTitle="Des solutions web sur-mesure pour propulser votre entreprise vers de nouveaux horizons."
    primaryBtn="Contactez-nous"
    primaryBtnURL="/contact"
    secondaryBtn="Découvrez nos services"
    secondaryBtnURL="/services"
    withReview={false}
    src={heroImage}
    alt="Photo de Alvaro Reyes sur Unsplash"
  />

  <FeaturesNavs
    title=`Customize <span class="text-yellow-500 dark:text-yellow-400">ScrewFast</span>'s offerings to perfectly suit your hardware and construction needs.`
    tabs={[
      {
        heading: "Stratégie Numérique",
        content:
          "Du référencement SEO à la gestion de vos réseaux sociaux, nous élaborons les stratégies qui augmentent votre visibilité en ligne.",
        svg: "strategy",
        src: strategie,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Design UI/UX",
        content:
          "Nous concevons des interfaces attractives et intuitives pour une expérience utilisateur sans faille.",
        svg: "design",
        src: web,
        alt: "Photo de Balázs Kétyi Unsplash",
      },
      {
        heading: "Développement Web sur Mesure",
        content:
          "Sites vitrine, e-commerce, applications web... nos créations sont optimisées pour un référencement, une responsivité, une accessibilité et une performance maximale.",
        svg: "tools",
        src: dev,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
      },
      {
        heading: "Référencement naturel (SEO)",
        content:
          "Minimize complexity, maximize productivity. ScrewFast's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "house",
        src: seo,
        alt: "Gray metal building frame near tower crane during daytime",
      },
      {
        heading: "Maintenance et Support : ",
        content:
          "Nous sommes à vos côtés pour garantir le bon fonctionnement de vos solutions numériques au quotidien. Nous proposons tous les niveaux de maintenance : préventives, correctives et évolutives",
        svg: "maintenance",
        src: support,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <FeaturesGeneral
    title="Nos valeurs"
    subTitle="Chez Web Crafters, nous avons à coeur de vous proposer des solutions adaptées à votre contexte et vos objectifs. Que vous soyez une startup innovante, une TPE ou une PME en pleine croissance, notre équipe experte est là pour vous accompagner à chaque étape de votre projet."
    alt="Les valeurs du studio web crafters"
    features={features}
  />

  <HeroSectionAlt
    title="Prêt à donner vie à votre projet web ?"
    subTitle=" Commencez par le premier pas : une réunion de lancement avec notre équipe. C'est l'occasion parfaite pour nous de plonger dans votre vision, comprendre vos objectifs et poser les fondations d'une collaboration fructueuse."
    url="mailto:contact@web-crafters.studio"
    btnTitle="Planifier Ma Réunion de lancement"
  />

  <TestimonialsSection
    title="Confiez nous votre projet"
    subTitle="Chez Web Crafters, nous avons à coeur de vous accompagner comme si votre entreprise était la notre."
    ;
    testimonials={[
      {
        content:
          "Web Crafters m'a accompagné pour établir la visibilité de mon entreprise. Je suis satisfait du travail effectué et j'ai apprécié collaborer avec le studio Web Crafters. Ils ont su nous proposer une solution adéquate et aujourd'hui nous en récoltons les fruits car notre site internet est notre canal d'acquisition principal",
        author: "Pierre Besse",
        role: "Digireant | HéOTi Energies",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
  />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />
</MainLayout>
